body {
  font-family: sans-serif;
  background-image: linear-gradient(to left, blue, lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

input {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 2rem;
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
}

.pievienot-btn {
  border: 2px solid #005fa3;
  border-radius: 5px;
  font-size: 2rem;
  background-color: #0074d9;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 0.5rem 1rem;
}

.pievienot-btn:hover {
  background-color: #01559e;
  transform: scale(1.02);
  transition: transform 0.5s;
}

.pievienot-btn:active {
  transform: scale(0.96);
  transition: transform 0.1s;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  background-color: darkblue;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kust-container {
  display: flex;
  gap: 0.5rem
}

.kust-poga {
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  background: #005fa3;
  color: white;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}

.kust-poga:hover {
  transform: scale(1.02);
  transition: transform 0.5s;
  background-color: #01559e;
}

.kust-poga:active {
  transform: scale(0.96);
  transition: transform 0.1s;
}
